<%= stylesheet_link_tag 'user_infos/admin' %>

<% 
p_cnt = Product.count 
order_cnt = ShopifyAPI::Order.count
user_cnt = UserInfo.count
%>

<br><br>

<div class='row-fluid'>
	<div class='span4' style='text-align: center'>
		<div class='circle' style='width: 250px; height: 250px;'>
			<div style='margin-top: 100px'>
				<b><%= user_cnt %></b>
				<br><br>
				<b style='font-size: 12px'>Boutique<%= 's' if UserInfo.count > 1 %></b>
			</div>
		</div>
	</div>
	<div class='span4' style='text-align: center'>
		<div class='circle' style='width: 250px; height: 250px;'>
			<div style='margin-top: 100px'>
				<b><%= p_cnt %></b>
				<br><br>
				<b style='font-size: 12px'>Product<%= 's' if p_cnt > 1 %></b>
			</div>
		</div>
	</div>
	<div class='span4' style='text-align: center'>
		<div class='circle' style='width: 250px; height: 250px;'>
			<div style='margin-top: 105px'>				
				
			</div>
			<div style='margin-top: 100px'>
				<b><%= order_cnt %></b>
				<br><br>
				<b style='font-size: 12px'>Order<%= 's' if order_cnt > 1 %></b>
			</div>
		</div>
	</div>
</div>
<br><br>

<table class="table table-striped">
	<thead>
		<tr>
			<th>Boutiques</th>
			<th><%= UserInfo.human_attribute_name(:email) %></th>
			<th><%= UserInfo.human_attribute_name(:first_name) %></th>
			<th><%= UserInfo.human_attribute_name(:last_name) %></th>
			<th><%= UserInfo.human_attribute_name(:city) %></th>
			<th><%= UserInfo.human_attribute_name(:province) %></th>
			<th><%= UserInfo.human_attribute_name(:country) %></th>
			<th><%= UserInfo.human_attribute_name(:phone) %></th>
			<th>Products</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		<% UserInfo.all.each do |user| %>
		<tr>
			<td><%= link_to user.name, :controller => "products", :action => "retailer", :id => user.id %></td>
			<td><%= user.email %></td>
			<td><%= user.first_name %></td>
			<td><%= user.last_name %></td>
			<td><%= user.city %></td>
			<td><%= user.province %></td>
			<td><%= user.country %></td>
			<td><%= user.phone %></td>
			<td style='text-align: center'><%= user.products.count %></td>
			<td>
				<%= link_to "delete", {:controller => "registrations", :action => "destroy", :id => user.id }, 
				:method => :delete,
				:data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
				:class => 'btn btn-mini btn-danger' %>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>