<%= stylesheet_link_tag "user_infos" %>

<div id='info_form' class='panel' style='width: 420px;padding: 50px 50px 10px;'>
	<div>
		<h2>Forgot your password?</h2>
	</div>
	<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
	<%= devise_error_messages! %>
	<br>
	<center>
		<b style='position: relative;top: -4px;'>
			E-Mail&nbsp&nbsp
		</b>
		<%= f.email_field :email, :autofocus => true, :placeholder => 'E-Mail' %>
		<br><br>
		<%= f.submit "Submit", :class => 'btn btn-primary' %>
	</center>
	<% end %>
</div>